.pop-up {
  border: 1px solid black;
  height: 390px;
  width: 65%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);

  /* Initially hidden (off-screen) */
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
}

/* When active, slide into view */
.pop-up.active {
  transform: translateX(0);
  overflow-y: auto;
  overflow-x: hidden;
}

.pop-up.active .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 0 10px;
}

.pop-up.active .heading .logo {
  width: 130px;
}

.pop-up.active .heading .logo img {
  width: 100%;
}

.pop-up.active .heading .exit button {
  font-size: 1.1rem;
  background: transparent;
  border: none;
}
