.login-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 400px;
  padding: 2rem 1rem;
}

.login-container * {
  box-sizing: border-box;
}

.login-container .login-heading {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}

.login-container .login-heading h1 {
  margin: 2px;
}

.login-container .login-heading .close-btn {
  border: none;
  color: black;
  padding: 5px;
  cursor: pointer;
  font-size: 18px;
}

.login-container .inputs {
  width: 100%;
  padding: 1rem;
}

.login-container .inputs input {
  width: 100%;
  padding: 10px 10px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 1px solid black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}

#login {
  width: 70%;
  background-color: #00b5a5;
  color: white;
  margin: auto;
  padding: 1rem 3rem;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  border-radius: 30px;
}
